<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhys Rushton</title>
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Style\style.css">
</head>
<body>

    <div id="navbar">
        <a href="index.html">Home</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="contact.html">Contact</a>
        <a href="things.html">Things I like</a>
    </div>
    <br>

    
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://rhysrushton.github.io/homework5dayplanner/">
            <img src="Assets\dayplan.PNG" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Day Planner Homework</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://rhysrushton.github.io/Project-1-/index">
            <img src="Assets\project1.PNG" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">First Project</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://sleepy-temple-88858.herokuapp.com/">
            <img src="Assets\Coddiwomble-logo.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Second Project</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://rhysrushton.github.io/homework6weatherapp/">
            <img src="Assets\images\w.PNG" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Second Project</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="Assets\Resume.docx">
            <img src="Assets\noun_Resume_1972937.png" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc">Resume</div>
        </div>
      </div>



</body>
</html>